<header id="header">
  <div id="banner"></div>
  <div id="header-outer" class="outer">
    <div id="header-title" class="inner">
      <h1 class="title title--primary">
        <%= config.title %>
      </h1>
      <% if (theme.subtitle){ %>
        <h2 class="title title--secondary">
          <%= theme.subtitle %>
        </h2>
      <% } %>
    </div>
    <div id="header-inner" class="inner">
    </div>
  </div>
</header>